.site-footer {
  background-color: #495e57;
  color: #ffffff;
  padding: 0.5rem;
  justify-content: space-around;
  display: flex;
  height: 175px;
}

.site-footer-logo {
  width: 4rem;
}

.site-footer h3 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.site-footer-contact {
  width: 200px;
  padding: 1rem 1rem 0.5rem 1rem;
}

.site-footer-contact svg {
  margin-right: 0.5rem;
}

.site-footer-contact p {
  margin-bottom: 0.25rem;
  font-size: 0.8rem;
  width: 50vw;
}

#footer-logo-div {
  padding: 1rem 1rem 0.5rem 3rem;
}


