.site-footer {
  background-color: #495e57;
  color: #ffffff;
  padding: 1.5rem ;
  display: flex;
  gap: 2rem;
}

.site-footer-logo {
  width: 4rem;
}

.site-footer h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  font-size: 16px;
}

.site-footer-contact svg {
  margin-right: 0.5rem;
}

.site-footer-contact p {
  margin-bottom: 0.25rem;
}
