.banner {
 margin-top:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #495e57;
  padding: 3rem 1.8rem 1rem 1.8rem;
  color: #EDEFEE;
}

#head1 {
  color: #F4CE14;
  padding-top:10px;
  margin: 0;
}

#head2 {
  margin: 0;
}
.resto-desc {
    font-size: 1.05rem;
  }
.banner-img{
  width: 270px;
  border-radius: 20px;
}
#check-menu {
  background-color:#f4ce14;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#check-menu-wrapper {
  background-color:#495e57;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #495e57;
}





