#header-nav {
  background-color:#f3f3f3;
  margin: 0;
}

#logo-img {
  height: 40px;
  margin: 10px 15px 10px 0px;
}
/*
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}*/