#logo-img {
  height: 40px;
  margin: 10px 15px 10px 0px;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 75px;
  background-color:#e3e3e3;
  z-index: 2;
}